* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    color: #3c3c3c;
    background-color: #f5f5f5;
}

.hide {
    display: none;
}

.header1 {
    background-color: #f5f5f5;
    color: #6c6c6c;
}

img {
    outline: 0;
    border: 0;
}

.header1 .wrapper,
.cup,
.screen {
    margin: 0 auto;
    width: 1190px;
}

.screen {
    position: relative;
}

.screen .rect:after,
.screen:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.cupbox {
    background-color: #fff;
}

ul {
    display: inline-block;
    list-style-type: none;
}

.cup {
    position: relative;
}

.header1 .wrapper .nav .nav-item {
    position: relative;
    padding: 0 6px;
    height: 35px;
    line-height: 3;
    color: #6c6c6c;
    display: inline-block;
    float: left;
}

.nav-pipe {
    padding: inherit;
    color: #dedee3;
}

.header1 .wrapper .nav-icon {
    width: 12px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}

a:link,
a:visited,
a:focus,
a:active,
a:link,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f40;
}

.header1 .wrapper a:hover,
.cup a:hover {
    color: #f22e00;
}

#message-unread .nav-icon {
    background-image: url(../../image/icon/message-unread.png);
}

#shoppingcar .nav-icon {
    background-image: url(../../image/icon/shoppingcar.png);
}

#myfavorite .nav-icon {
    background-image: url(../../image/icon/myfavorite.png);
}

#sitenav .nav-icon {
    background-image: url(../../image/icon/sitenav.png);
}

.color-o {
    font-family: verdana, arial;
    color: #f22e00 !important;
}

.b {
    font-weight: bold;
}

.f-r {
    float: right !important;
}

.f-l {
    float: left;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    // margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    // margin-right: 6px;
}


/*header1面板设置*/

.header1 .toggle {
    position: absolute;
    top: 100%;
    border: 1px solid #eee;
    border-top: 0;
    padding: 8px;
    overflow: hidden;
}

#userinfo .toggle {
    width: 248px;
    height: 187px;
    color: #000;
}

#userinfo .toggle p {
    height: 20px;
    line-height: 20px;
}

#userinfo .toggle .userimg {
    display: block;
    margin: 0 8px 4px;
}

#userinfo .toggle img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

#userinfo .toggle .account-nav {
    text-align: right;
}

#userinfo .toggle .secpanel {
    clear: both;
}

#userinfo .toggle .secpanel .header-user-tip {
    text-align: center;
    width: 228px;
    height: 15px;
    padding: 2px 0;
    border: 1px #ddf6be solid;
    background-color: #e9fecf;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
}

#userinfo .header-user-split {
    margin: 10px 0;
    height: 1px;
    border: 0;
    background-color: #eee;
}

#userinfo .toggle ul li {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

#userinfo .toggle .vip {
    width: 36px;
    height: 36px;
}

#userinfo .toggle ul li a {
    display: inline;
}

#mytaobao .toggle,
#salescenter .toggle,
#contactservice .toggle {
    padding: 8px 0;
    width: 80px;
    line-height: 1.8;
}

#mytaobao .toggle a,
#salescenter .toggle a,
#contactservice .toggle a {
    display: block;
    padding: 4px;
    margin: 0;
}

#sitenav .toggle {
    padding: 0;
    right: 0;
    width: 1188px;
}

#sitenav .toggle .wrapper {
    width: 100%;
}

#sitenav .toggle .col {
    width: 283px;
    border-left: 1px solid #eee;
    padding: 6px;
}

#sitenav .toggle ul {
    width: 100%;
}

#sitenav .toggle ul li {
    float: left;
    height: 30px;
    line-height: 30px;
}

#sitenav .toggle ul li a:link,
#sitenav .toggle ul li a:visited,
#sitenav .toggle ul li a:active {
    color: #000;
    padding: 8px;
}

#sitenav .toggle ul li a:hover {
    color: #fff;
}

#sitenav .toggle .thememark h4 {
    color: #fc581e;
}

#sitenav .toggle .thememark ul li a:hover {
    background-color: #fc581e;
}

#sitenav .toggle .col h4 {
    font-size: 16px;
    font-weight: 600;
    font-family: "tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;";
}

#sitenav .toggle .thememark li {
    width: 25%;
}

#sitenav .toggle .featuremark h4 {
    color: #a6bd46;
}

#sitenav .toggle .featuremark ul li a:hover {
    background-color: #a6bd46;
}

#sitenav .toggle .featuremark li {
    width: 33.3333333%;
}

#sitenav .toggle .aliapp h4 {
    color: #d75696;
}

#sitenav .toggle .aliapp ul li a:hover {
    background-color: #d75696;
}

#sitenav .toggle .aliapp li {
    width: 33.3333333%;
}

#sitenav .toggle .wonderrec h4 {
    color: #40a7de;
}

#sitenav .toggle .wonderrec ul li a:hover {
    background-color: #40a7de;
}

#sitenav .toggle .wonderrec li {
    width: 50%;
}

.cup {
    padding: 30px 0 34px;
}

.header2 {
    width: 100%;
}

.header2 .logo {
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    width: 255px;
}

.header2 .search-bar {
    height: 25px;
}

.header2 .searchwrap {
    margin: 0 300px 0 265px;
}

.header2 .search-item li {
    display: block;
    float: left;
    height: 25px;
    width: 50px;
    line-height: 25px;
    color: #f40;
    text-align: center;
    cursor: pointer;
}

.header2 .search-item .active {
    color: #fff;
    font-weight: bold;
}

.header2 .search-item .search-item-dotery.active,
.header2 .search-item .search-item-shop.active {
    background-color: #ff5400;
}

.header2 .search-item .search-item-tamll.active {
    background-color: #c60000;
}

.header2,
.searchwrap {
    position: relative;
}

.header2 .searchwrap .search-button {
    position: absolute;
    right: 0;
    z-index: 100;
    text-align: center;
    width: 122px;
    height: 40px;
}

.header2 .searchwrap .search-button button {
    width: 100%;
    height: 100%;
}

button {
    border: 0;
    outline: 0;
    font-weight: bold;
    color: #fff;
    background-color: #ff4200;
    cursor: pointer;
    font-size: 1.5em;
}

button:hover {
    background-color: #f52b00;
}

.header2 .search-bd {
    position: absolute;
    right: -34px;
    top: 28px;
    color: #666;
    line-height: 1.5;
}

.header2 .search-input-fileds {
    padding: 3px 0 3px 3px;
    height: 34px;
    background-color: #f50;
}

.header2 .search-input-fileds input {
    border: 0;
    outline: 0;
    width: 472px;
    height: 22px;
    padding: 6px 0;
}

.cup .header2 .searchcombo {
    background-color: #fff;
}

.cup .header2 .searchwrap .search-icon {
    position: absolute;
    z-index: 3;
    top: 38px;
    right: 126px;
}

.cup .header2 .searchwrap .search-icon span {
    display: inline-block;
    width: 24px;
    height: 20px;
    background-image: url(../../image/icon/images/search_01.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.cup .header2 .searchwrap .search-icon span:hover {
    background-image: url(../../image/icon/images/search_03.png);
}

.cup .header2 .searchwrap .search-app {
    padding: 6px 0 0;
    color: #666;
    line-height: 1.5;
    margin-bottom: 5px;
    overflow: hidden;
}

.cup .header2 .searchwrap .search-app a {
    display: block;
    float: left;
    margin-right: 5px;
}

.cup .extra-phone {
    position: absolute;
    width: 96px;
    top: 25px;
    right: 0;
    border: 1px solid #eee;
    text-align: center;
    vertical-align: middle;
    line-height: 1.6;
}

.cup .extra-phone .close {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    left: -22px;
    top: -1px;
    color: #eee;
    border: 1px solid #eee;
    font-size: 16px;
    font-weight: bold;
}

.cup .extra-phone .close:hover,
.cup .extra-phone .close a:hover {
    color: #000;
}

.cup .extra-phone .content {
    padding-top: 4px;
    padding-bottom: 4px;
}

.screen .rect {
    width: 100%;
    margin-top: -34px;
    position: relative;
    z-index: 3;
}

.screen .rect .rect-wrap {
    margin-left: 200px;
}

.screen .rect .rect-wrap .nav-bar {
    height: 34px;
    color: #3c3c3c;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 11px;
}

.screen .rect .rect-wrap .nav-bar ul {
    height: 30px;
    margin-top: 4px;
}

.screen .rect .rect-wrap .nav-bar li {
    display: block;
    float: left;
    margin-left: 7px;
    height: 100%;
}

.screen .rect .rect-wrap .nav-bar li a {
    display: block;
    font-weight: 700;
    height: 28px;
    padding: 0 5px;
    line-height: 28px;
    vertical-align: middle;
    cursor: pointer;
}

.screen .rect .rect-wrap .nav-bar li a:hover {
    background-color: #f40;
    color: #fff !important;
    -webkit-border-radius: .8em;
       -moz-border-radius: .8em;
        -ms-border-radius: .8em;
         -o-border-radius: .8em;
            border-radius: .8em;
}

.screen .rect .rect-wrap .nav-bar .nav-item-a li a {
    font-size: 16px;
}

.screen .rect .rect-wrap .nav-bar .nav-item-b li a,
.screen .rect .rect-wrap .nav-bar .nav-item-c li a {
    font-size: 14px;
}

.screen .rect .rect-wrap .nav-bar .nav-pipe {
    line-height: 2.4;
    margin: 0;
    padding: 0;
}

.screen .rect .rect-wrap .screen-col-a {
    width: 520px;
}

.screen .rect .rect-wrap .adlunbo {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.screen .rect .rect-wrap .ad1 {
    height: 280px;
}

.screen .rect .rect-wrap .ad2 {
    height: 201px;
}

.screen .rect .rect-wrap .ad1 .ad-item {
    width: 2600px;
}

.adlunbo .ad-item li {
    width: 520px;
    height: 201px;
    position: relative;
}

.screen .rect .rect-wrap .ad2 .ad-item {
    width: 3120px;
}

.screen .rect .rect-wrap .ad2 .ad-col1 a {
    width: 173px;
    height: 100px;
    border-left: 1px solid #f1f1f1;
    margin-left: -1px;
    margin-bottom: 1px;
    float: left;
}

.screen .rect .rect-wrap .ad2 .ad-col1 a:first-child {
    height: auto;
    border: 0;
}

.screen .rect .rect-wrap .ad2 .ad-col1 img {
    width: 173px;
}

.screen .rect .rect-wrap .ad2 .ad-col2 a,
.screen .rect .rect-wrap .ad2 .ad-col3 a {
    width: 130px;
    height: 200px;
    border-left: 1px solid #f1f1f1;
    margin-left: -1px;
    margin-bottom: 1px;
    float: left;
}

.screen .rect .rect-wrap .ad2 .ad-col2 img,
.screen .rect .rect-wrap .ad2 .ad-col3 img {
    width: 130px;
    float: left;
}

.screen .rect .rect-wrap .ad2 .ad-col4 a {
    display: block;
    padding: 5px 0;
    height: 57px;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    width: 129px;
    float: left;
    background-color: #fff;
    text-align: center;
}

.screen .rect .rect-wrap .ad2 .ad-col5 a,
.screen .rect .rect-wrap .ad2 .ad-col6 a {
    display: block;
    margin: 6px 0 0 6px;
    height: 190px;
    width: 251px;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    float: left;
    background-color: #fff;
    text-align: center;
}

.screen .rect .rect-wrap .ad2 .ad-col6 a {
    margin-top: 20px;
}

.screen .rect .rect-wrap .adlunbo ul li {
    display: block;
    float: left;
}

.screen .rect .rect-wrap .adlunbo .lunbo-nav {
    background-color: rgba(255, 255, 255, .3);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4dffffff", endColorstr="#4dffffff", GradientType=0);
    height: 13px;
    text-align: center;
    display: block;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -33px;
}

.screen .rect .rect-wrap .ad1 .lunbo-nav {
    width: 65px;
}

.screen .rect .rect-wrap .ad1 .lunbo-nav {
    width: 78px;
}

.screen .rect .rect-wrap .adlunbo .lunbo-nav li {
    margin: 2px;
    display: inline-block;
}

.screen .rect .rect-wrap .adlunbo .lunbo-nav li a {
    display: block;
    padding-top: 9px;
    width: 9px;
    height: 0;
    border-radius: 50%;
    background-color: #b7b7b7;
}

.screen .rect .rect-wrap .adlunbo .lunbo-nav li .select {
    background-color: #f40;
}

.screen .rect .rect-wrap .adlunbo .adshow {
    position: absolute;
    left: 0;
    bottom: 0;
}

.screen .rect .rect-wrap .screen-col-a .admiddle {
    height: 26px;
    position: relative;
    border-bottom: 2px solid #c12c26;
    background-color: #f1f1f1;
    vertical-align: bottom;
}

.screen .rect .rect-wrap .screen-col-a .admiddle span {
    position: relative;
    bottom: -3px;
    background-image: url(../../image/icon/tmall.gif);
    font-size: 14px;
    line-height: 32px;
    background-repeat: no-repeat;
    text-decoration: none;
    font-style: normal;
    padding-left: 48px;
    color: #3c3c3c;
    border-bottom: 2px solid #3c3c3c;
}

.screen .rect .rect-wrap .screen-col-a .admiddle em {
    margin-left: 6px;
    color: #666;
    font-style: normal;
}

.screen .rect .rect-wrap .screen-col-a .admiddle strong,
.screen .rect .rect-wrap .screen-col-a .admiddle strong * {
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    line-height: 18px;
}

.screen .rect .rect-wrap .screen-col-a .admiddle strong i {
    color: #d47e7e;
}

.screen .rect .rect-wrap .screen-col-a .turnLorR {
    width: 520px;
    position: absolute;
    left: 0;
    top: 44%;
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    color: #fff;
}

.screen .rect .rect-wrap .screen-col-a .turnLorR a {
    display: block;
    width: 24px;
    height: 36px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, .3);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4d000000", endColorstr="#4d000000", GradientType=0);
    text-align: center;
    font-weight: bold;
}

.screen .rect .rect-wrap .screen-col-a .turnLorR a:hover {
    background-color: rgba(0, 0, 0, .5);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5d00000", endColorstr="#5d000000", GradientType=0);
}

.screen .rect .rect-wrap .screen-col-b {
    margin-left: 10px;
}

.screen .rect .rect-wrap .screen-col-b .hot {
    height: 26px;
    position: relative;
}

.screen .rect .rect-wrap .screen-col-b .hot span {
    position: absolute;
    bottom: 8px;
    color: #a1a1a1;
}

.screen .rect .rect-wrap .screen-col-c {
    margin-left: 10px;
    width: 290px;
}

.screen .rect .rect-wrap .screen-col-c .memember,
.screen .rect .rect-wrap .screen-col-c .news {
    background-color: #fff;
    text-align: center;
}

.screen .rect .rect-wrap .screen-col-c .memember {
    padding: 15px;
}

.screen .rect .rect-wrap .screen-col-c .memember .member-person img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

.screen .rect .rect-wrap .screen-col-c .hello {
    height: 18px;
    line-height: 18px;
    color: #3c3c3c;
    margin-bottom: 2px;
}

.screen .rect .rect-wrap .screen-col-c .tbhy {
    height: 20px;
    line-height: 20px;
    color: #3c3c3c;
}

.screen .rect .rect-wrap .screen-col-c .tbhy .tbhy-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../image/icon/bgicon.png) 0 -882px no-repeat;
    vertical-align: middle;
    margin-top: -2px;
}

.screen .rect .rect-wrap .screen-col-c .member-btn:after {
    content: ".";
    display: block;
    height: 0;
    visibility: none;
    clear: both;
}

.member-btn {
    height: 40px;
}

.member-btn a {
    display: block;
    font-weight: bold;
    font-size: 14px;
    float: left;
    color: #fff;
    background-color: #ff4200;
    height: 25px;
    margin-right: 7px;
    vertical-align: middle;
    line-height: 25px;
}

.member-btn a:hover {
    background-color: #f52b00;
}

.member-btn .login {
    width: 80px;
}

.member-btn .register {
    width: 80px;
}

.member-btn .opshop {
    width: 78px;
}

.screen .rect .rect-wrap .screen-col-c .news {
    width: 100%;
    margin-top: 2px;
    padding: 7px 0 4px;
}

.screen .rect .rect-wrap .screen-col-c .news .nav {
    width: 100%;
    padding: 0 8px;
    margin-top: 4px;
}

.screen .rect .rect-wrap .screen-col-c .news .newsshow {
    padding-top: 14px;
    height: 60px;
}

.screen .rect .rect-wrap .screen-col-c .news .nav li {
    display: block;
    float: left;
    margin: 0 8px;
    width: 39px;
    color: #3c3c3c;
}

.screen .rect .rect-wrap .screen-col-c .news .nav li a:hover {
    color: #f40;
}

.screen .rect .rect-wrap .screen-col-c .newsshow ul li {
    padding: 0;
    width: 130px;
    height: 25px;
    line-height: 25px;
    display: block;
    float: left;
    overflow: hidden;
}

.screen .rect .rect-wrap .screen-col-c .newsshow ul li a {
    float: left;
}

.screen .rect .rect-wrap .screen-col-c .newsshow .news-first li:first-child {
    width: 260px;
}

.screen .rect .rect-wrap .screen-col-c .newsshow ul {
    width: 270px;
    height: 60px;
    margin: 0 auto;
}

.multiplay {
    margin-top: 2px;
}

.multiplay ul {
    width: 100%;
}

.multiplay .iconwrap {
    position: relative;
    // height: 18px;
}

.multiplay ul .iconwrap {
    display: block;
    float: left;
    width: 72px;
    height: 67px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    background-color: #fff;
    text-align: center;
}

.multiplay ul .min.iconwrap {
    width: 71px;
}

.multiplay .icon {
    margin-top: 11px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background: url(../../image/icon/bgicon.png);
}

.multiplay .item-2 {
    background-position: 0 -44px;
}

.multiplay .item-3 {
    background-position: 0 -88px;
}

.multiplay .item-4 {
    background-position: 0 -132px;
}

.multiplay .item-5 {
    background-position: 0 -176px;
}

.multiplay .item-6 {
    background-position: 0 -220px;
}

.multiplay .icon.item-7 {
    background: url(../../image/icon/icon7.jpg);
}

.multiplay .item-8 {
    background-position: 0 -308px;
}

.multiplay .item-9 {
    background-position: 0 -352px;
}

.multiplay .item-10 {
    background-position: 0 -396px;
}

.multiplay .item-11 {
    background-position: 0 -440px;
}

.multiplay .item-12 {
    background-position: 0 -484px;
}

.multiplay .flwrap {
    position: absolute;
    background: #fff;
    top: 100%;
    left: 0;
    z-index: 1;
    padding-left: 15px;
    width: 273px;
    height: 155px;
    border: 1px solid #f40;
    text-align: left;
    color: #666;
}

.multiplay .flwrap li {
    display: inline-block;
    padding: 3px 10px;
}

.multiplay .flwrap .close {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

.multiplay .flwrap .close:hover {
    background: #eee;
    color: #000;
}

.multiplay .flwrap ul {
    margin: 7px 0;
}

.multiplay .flwrap .fl-wrap {
    width: 188px;
    height: 26px;
    border: 1px solid #ccc;
    position: relative;
}

.multiplay .flwrap .fl-wrap input {
    width: 165px;
    height: 18px;
    border: 0;
    outline: 0;
    padding: 4px 20px 4px 3px;
}

.multiplay .flwrap .fl-wrap .flicon {
    width: 20px;
    height: 26px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../../image/icon/bgicon2.png);
    cursor: pointer;
    background-repeat: no-repeat;
}

.multiplay .flwrap .fl-wrap.account {
    margin-top: -1px;
}

.multiplay .flwrap .fl-wrap .fl-wrap-tel {
    background-position: -24px 5px;
}

.multiplay .flwrap .fl-wrap .fl-wrap-tel:hover {
    background-position: -4px 5px;
}

.multiplay .flwrap .fl-wrap .fl-wrap-aco {
    background-position: -24px -21px;
}

.multiplay .flwrap .fl-wrap .fl-wrap-aco:hover {
    background-position: -4px -21px;
}

.multiplay .flwrap .fl-wrap:hover {
    border-color: #9c9c9c;
    z-index: 1;
}

.multiplay .flwrap .acount-num {
    height: 28px;
    line-height: 28px;
}

#payacount {
    cursor: default;
}

.multiplay .flwrap .flwrap-txtshow {
    margin: 6px 0;
    height: 17px;
    line-height: 17px;
    font-family: arial;
}

.multiplay .flwrap .flwrap-txtshow .color-o {
    font-weight: 800;
}

.multiplay .flwrap button {
    padding: 3px 10px;
    height: 21px;
    line-height: 21px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
    font-size: 12px;
    box-sizing: content-box;
}

.noto:hover {
    color: inherit;
}

.screen .multinav {
    position: absolute;
    width: 190px;
    color: #fff;
    font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
    left: 0;
    top: 0;
    z-index: 5;
}

.screen .multinav-bd {
    background-color: #ff6537;
}

.screen .multinav .name {
    height: 33px;
    line-height: 33px;
    text-indent: 10px;
    position: relative;
}

.screen .multinav .name h3 {
    font-size: 14px;
}

.screen .multinav .name .service-icon {
    position: absolute;
    top: 0;
    right: 6px;
    font-size: 16px;
    font-weight: normal;
}

.screen .multinav a {
    font-weight: 700;
}

.screen .multinav .name a:hover {
    color: inherit;
}

.screen .multinav .nav-service a:hover {
    text-decoration: underline;
    color: inherit;
}

.screen .multinav .nav-service {
    height: 482px;
    width: 100%;
}

.screen .multinav .nav-service li {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    position: relative;
}

.screen .multinav .nav-service li:hover {
    background-color: #f94a14;
}

.screen .multinav .nav-service .icon {
    width: 12px;
    height: 30px;
    position: absolute;
    display: block;
    right: 6px;
    top: 2px;
    font-style: normal;
    font-weight: 700;
}

.screen .multinav .nav-service .service-icon {
    display: inline-block;
    width: 18px;
    height: 30px;
    float: left;
    color: #ff8c58;
    font-size: 18px;
    margin-right: 4px;
}

.multinav .mutinav-ad {
    margin-top: -1px;
}

.multinav .nav-panel {
    position: absolute;
    left: 188px;
    top: 33px;
    padding-left: 18px;
    border: 2px solid#f94a14;
    width: 692px;
    height: 519px;
    color: #666;
    font-weight: normal;
    background-color: #fff;
}

.screen .multinav .nav-panel a,
.screen .multinav .nav-panel a:hover {
    font-weight: normal;
    text-decoration: none;
}

.multinav .nav-panel .panel-col1 {
    width: 427px;
    height: 475px;
    padding-top: 25px;
    padding-right: 10px;
    background-color: white;
}

.multinav .nav-panel .nav-icon {
    width: 28px;
    height: 28px;
}

.screen .multinav .nav-panel li,
.screen .multinav .nav-panel li:hover {
    width: auto;
    height: 24px;
    line-height: 24px;
    background-color: inherit;
    display: block;
    float: left;
    padding: 0;
    margin-right: 12px;
    margin-left: 1px;
}

.nav-panel .panel-col1 .row-hd {
    height: 28px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    width: 100%;
}

.row-hd h4 {
    position: absolute;
    bottom: 4px;
    left: 28px;
    font-size: 14px;
}

.row-hd .more {
    position: absolute;
    bottom: 4px;
    right: 2px;
}

.nav-panel ul {
    padding: 8px 0;
    margin-bottom: 22px;
    display: block;
}

.nav-panel ul:before,
.nav-panel ul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.multinav .nav-panel .panel-col2 {
    position: absolute;
    left: 455px;
    top: 0;
    width: 240px;
    height: 479px;
    padding: 32px 0 7px 15px;
    background-color: #f4f4f4;
    text-align: center;
}

.nav-panel .panel-col2 h3 {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
    position: absolute;
    top: 20px;
    right: 87px;
}

.nav-panel .panel-col2 h3:before,
.nav-panel .panel-col2 h3:after {
    position: absolute;
    content: "";
    height: 0;
    border: 1px solid #e6e6e6;
    width: 45px;
    top: 50%;
    display: block;
}

.nav-panel .panel-col2 h3:before {
    left: -47px;
}

.nav-panel .panel-col2 h3:after {
    right: -47px;
}

.nav-panel .panel-col2 .service-icon {
    color: #dd4410;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    vertical-align: text-top;
}

.panel-col2 .col-bd {
    margin-top: 10px;
}

.panel-col2 .recbao {
    margin-top: 17px;
}

.panel-col2 .recbao a {
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
    position: relative;
    float: left;
    height: 110px;
    margin-right: 10px;
}

.panel-col2 .recbao p {
    position: absolute;
    height: 24px;
    line-height: 24px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ccffffff", endColorstr="#ccffffff", GradientType=0);
}

.panel-col2 .recbao img {
    width: 110px;
    height: 110px;
}
